{% load static %}
<footer class="footer section section-sm">
  <!-- Container Start -->
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-7 offset-md-1 offset-lg-0 mb-4 mb-lg-0">
        <!-- About -->
        <div class="block about">
          <!-- footer logo -->
          <img src=" {% static 'images/logo-footer.png' %}" alt="logo">
          <!-- description -->
          <p class="alt-color">The Electronic Voting System is a state-of-the-art online platform that facilitates secure and transparent
            elections for various organizations, such as businesses, governments, and non-profit organizations.</p>
        </div>
      </div>
      <!-- Link list -->
      <div class="col-lg-2 offset-lg-1 col-md-3 col-6 mb-4 mb-lg-0">
        <div class="block">
          <h4>Site Pages</h4>
          <ul>
            <li><a href="">My Ads</a></li>
            <li><a href="">Favourite Ads</a></li>
            <li><a href="">Archived Ads</a></li>
            <li><a href="">Pending Ads</a></li>
            <li><a href="">Terms & Conditions</a></li>
          </ul>
        </div>
      </div>
      <!-- Link list -->
      <div class="col-lg-2 col-md-3 offset-md-1 offset-lg-0 col-6 mb-4 mb-md-0">
        <div class="block">
          <h4>Admin Pages</h4>
          <ul>
            <li><a href="">Category</a></li>
            <li><a href="">Single Page</a></li>
            <li><a href="">Store Single</a></li>
            <li><a href="">Single Post</a>
            </li>
            <li><a href="">Blog</a></li>
          </ul>
        </div>
      </div>
      <!-- Promotion -->
      <div class="col-lg-4 col-md-7">
        <!-- App promotion -->
        <div class="block-2 app-promotion">
          <div class="mobile d-flex  align-items-center">
            <a href="">
              <!-- Icon -->
              <img src=" {% static 'images/footer/phone-icon.png' %}" alt="mobile-icon">
            </a>
            <p class="mb-0">Get the E-Voting Mobile App and Save more</p>
          </div>
          <div class="download-btn d-flex my-3">
            <a href=""><img src=" {% static 'images/apps/google-play-store.png' %}" class="img-fluid" alt=""></a>
            <a href="" class=" ml-3"><img src=" {% static 'images/apps/apple-app-store.png' %}" class="img-fluid" alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Container End -->
</footer>
<!-- Footer Bottom -->
<footer class="footer-bottom">
  <!-- Container Start -->
  <div class="container">
    <div class="row">
      <div class="col-lg-6 text-center text-lg-left mb-3 mb-lg-0">
        <!-- Copyright -->
        <div class="copyright">
          <p>Copyright &copy; <script>
              var CurrentYear = new Date().getFullYear()
              document.write(CurrentYear)
            </script> <a>Electronic Voting System. All rights reserved.</a></p>
        </div>
      </div>
      <div class="col-lg-6">
        <!-- Social Icons -->
        <ul class="social-media-icons text-center text-lg-right">
          <li><a class="fa fa-facebook" href="https://www.facebook.com/themefisher"></a></li>
          <li><a class="fa fa-twitter" href="https://www.twitter.com/themefisher"></a></li>
          <li><a class="fa fa-pinterest-p" href="https://www.pinterest.com/themefisher"></a></li>
          <li><a class="fa fa-github-alt" href="https://www.github.com/themefisher"></a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Container End -->
  <!-- To Top -->
  <div class="scroll-top-to">
    <i class="fa fa-angle-up"></i>
  </div>
</footer>